<head>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.18.0.min.js'></script>
   </head>
   
   <body>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    <script src="plot.js"></script>
   </body>