.duke_background{
    height: 100%;
    width: 100%;
    margin-top: 0in;
    background-position-x: center;
    background-position-y: center;
    background: url("https://fintech.meng.duke.edu/sites/all/themes/ene_programs/images/hero-meng-fintech.jpg");
}
.h1{
    color: black;
}