.duke_background{
    height: 100%;
    width: 100%;
    margin-top: 0in;
    background-position-x: center;
    background-position-y: center;
    background: url("https://fintech.meng.duke.edu/sites/all/themes/ene_programs/images/hero-meng-fintech.jpg");
}
.h1{
    color: black;
}

/* bootbox.confirm({
    message: 'This is a confirm with custom button text and color! Do you like it?',
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        console.log('This was logged in the callback: ' + result);
    }
}); */